<div class="table_wrap">
  <div class="table_header">
    <ul>
      <li>
        <div class="item">
          <div class="title">
            <span>Title</span>
          </div>
          <div class="word-count">
            <span>Word count</span>
          </div>
          <div class="snippet">
            <span>Snippet</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="table_body">
    <ul>
      <li>
        <div class="item">
          <div class="title">
            <span>Javascript</span>
          </div>
          <div class="word-count">
            <span>4564</span>
          </div>
          <div class="snippet">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="table_footer"></div>
</div>
