.table_wrap {
  width: 80%;
  margin: 50px auto 0;
}

.table_wrap ul li .item {
  display: flex;
  background: #fff;
  padding: 15px 0;
}

.table_wrap ul li .item .title,
.table_wrap ul li .item .word-count {
  width: 25%;
  padding: 0 15px;
}

.page-link {
  color: #29a5d8;
  text-decoration: none;
}

.table_wrap ul li .item .status {
  width: 15%;
  padding: 0 15px;
}

.table_wrap ul li .item .snippet {
  width: 45%;
  padding: 0 15px;
}

.table_wrap ul li .item .snippet span,
.table_wrap ul li .item .title span {
  width: 90%;
  display: inline-block;
}

.table_wrap ul li .item .snippet span {
  line-height: 25px;
}

.table_header ul li .item {
  border-bottom: 2px solid #eaeaea;
  font-weight: 600;
}

.table_body {
  height: 300px;
}

.table_body ul li .item {
  border-bottom: 1px solid #efefef;
}

:host ::ng-deep .searchmatch {
  font-weight: bold;
}

.result div {
  margin: 16px auto;
  width: 80%;
  background: #f9f9f9;
  padding: 30px;
}
