<div class="table_wrap" *ngIf="pages.length && !error">
  <div class="table_header">
    <ul>
      <li>
        <div class="item">
          <div class="title">
            <span>Title</span>
          </div>
          <div class="word-count">
            <span>Word count</span>
          </div>
          <div class="snippet">
            <span>Snippet</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="table_body">
    <ul>
      <li *ngFor="let page of pages">
        <div class="item">
          <div class="title">
            <span>
              <a class="page-link" [href]="'https://en.wikipedia.org?curid='+page.pageid"
                target="_blank">{{page.title}}</a>
            </span>
          </div>
          <div class="word-count">
            <span>{{page.wordcount}}</span>
          </div>
          <div class="snippet">
            <span [innerHTML]="page.snippet"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="table_footer"></div>
</div>

<div *ngIf="error" class="result">
  <div>
    There is an error
  </div>
</div>

<div *ngIf="!error && !pages.length" class="result">
  <div>
    No data found
  </div>
</div>
